* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.starter{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f8f9fb, #eef1f7);
}

.starter-box {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.starter-box h1 {
  margin-bottom: 10px;
}

.starter-box p {
  margin-bottom: 25px;
  color: #555;
}

.start-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4a154b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
}

.start-btn:hover {
  background-color: #611f69;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 600px) {
  .hero h2 {
    font-size: 22px;
  }

  .hero p {
    font-size: 14px;
  }

  .about-header h1 {
    font-size: 18px;
  }
}
